fastapi~=0.115.0
beanie~=1.26.0
passlib~=1.7.4
pydantic~=2.9.2
dotenv~=0.9.9
python-dotenv~=1.1.0
motor~=3.6.0
python-jose~=3.3.0
pandas~=2.2.3
seaborn~=0.13.2
matplotlib~=3.10.3
scikit-learn~=1.6.1
googletrans~=4.0.2
pymongo~=4.9.1
deep-translator~=1.11.4